<h1>Log-In</h1>
<div class="form">
  <input type="text" [(ngModel)]="user.username" placeholder="Username">
  <input type="password" [(ngModel)]="user.password" placeholder="Password">
  <div class="error-message" *ngIf="error">{{error.message}}</div>
</div>

<div (click)="logIn()" class="buttons log-in-button">Log-In</div>
<div (click)="register()" class="buttons register-button">Register</div>
