.form {
  margin-bottom: 16px;

  input {
    display: block;
    margin-bottom: 4px;
  }

  .error-message {
    color: red;
    font-family: sans-serif;
    margin: 4px 0;
  }
}

.buttons {
  display: inline;
  padding: 8px;
  margin-right: 8px;
  border-radius: 8px;
  font-family: sans-serif;
  cursor: pointer;
  box-sizing: border-box;
}

.log-in-button {
  background-color: #DC965A;
}

.register-button {
  background-color: #b8dc84;
}


