<div class="game-container" *ngIf="!(summary.question >= summary.totalQuestions)">
  <div class="stats" *ngIf="gameStarted">
    <div>Question: {{summary.question + "/" + summary.totalQuestions}}</div>
    <div>Points: {{summary.points}}</div>
    <div>{{summary.username}}</div>
  </div>
  <div *ngIf="!gameStarted"  class="start-game-button" (click)="startGame()">Start Game!</div>
  <div *ngIf="gameStarted">
    <div class="quote">
      {{quote.quote}}
    </div>
    <div class="quoters">
      <div class="quoter" *ngFor="let quoter of quote.quoters" (click)="makeGuess(quoter.id)">{{quoter.name}}</div>
    </div>
  </div>
</div>

<div *ngIf="summary.question >= summary.totalQuestions">
  <div>Question: {{summary.question + "/" + summary.totalQuestions}}</div>
  <div>Points: {{summary.points}}</div>
  <div>{{summary.username}}</div>
</div>
