.game-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .start-game-button {
    height: 36px;
    width: 128px;
    margin: 0 auto;
    line-height: 36px;
    background-color: #b8dc84;
    border-radius: 10px;
    font-family: sans-serif;
  }

  .stats {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-bottom: 8px;
  }

  .quoters {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }
  
  .quote {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #b8dc84;
    border-radius: 10px;
    text-align: center;
    font-size: 80%;
    font-family: sans-serif;
  }
  
  .quoter {
    cursor: pointer;
    width: 24%;
    height: 72px;
    line-height: 72px;
    background-color: #dcad70;
    border-radius: 10px;
    text-align: center;
    font-size: 80%;
    font-family: sans-serif;
  }
}
