/* color-scheme: https://coolors.co/5dd9c1-acfcd9-8f91a2-665687-190933 */
.container {
  background-color: #C8C8C8;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 32px;

  .dropdown-button {
    padding: 8px;
    margin-right: 4px;
    background-color: #e8ffff;
    border-radius: 8px;
    float: right;
    display: inline;
    text-decoration: none;
    font-family: sans-serif;
  }

  .header {
    margin-bottom: 64px;
  }

  .content {
    width: 100%;
    height: 100%;
  }

  h1 {
    color: #DC965A;
    font-family: sans-serif;
    margin-bottom: 16px;
  }

  .navbar {
    margin-bottom: 16px;
    display: inline;

    a {
      padding: 8px;
      margin-right: 4px;
      background-color: #242325;
      border-radius: 8px;
      display: inline;
      text-decoration: none;
      font-family: sans-serif;
      color: #C8C8C8;
    }
  }
}
