<div class="container">
  <div class="header">
    <h1>Quotes!</h1>
    <nav class="navbar">
      <a routerLink="/" routerLinkActive="active">Home</a>
      <a routerLink="/game" routerLinkActive="active">Game</a>
      <a routerLink="/highscores" routerLinkActive="active">Highscores</a>
      <a routerLink="/log-in" routerLinkActive="active" *ngIf="!user">Log-In</a>
    </nav>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="logOut()">Log-Out</button>
    </mat-menu>
    <div class="dropdown-button" *ngIf="user" [matMenuTriggerFor]="appMenu">
      {{user.username}}
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

